.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Builds/MacOSX/OwlSim.xcodeproj/project.xcworkspace/
Builds/MacOSX/OwlSim.xcodeproj/xcuserdata/
Builds/MacOSX/build/
auval-report.txt
